/* RESET */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

img {
    max-width: 100%;
}

/* custom properties */
:root {
    --size-symbol: 25px; 
    --horizontal-space: 100px
}

/* utils */
.container {
    width: 80%;
    margin: 0 auto;
}

body {
    font-family: Arial, sans-serif;
}

/* common */
.bg-editorial {
    background-color: #33b6f7;
}

.bg-q1goals {
    background-color: #a327e2;
}

.bg-recruiting {
    background-color: #4fb6ab;
}

.bg-mobile {
    background-color: orange;   
}

.bg-website {
    background-color: #e05fa3;  
}

.bg-sales {
    background-color: #98bc5c;  
}

.color-symbolcheck {
    color: green;
    border: 1px solid green;
}

.color-symbolcross {
    color: rgb(219, 13, 13);
    border: 1px solid rgb(219, 13, 13);
}

/* header */
.header {
    padding: 20px 35px;
}

.logo {
    height: 60px;
    vertical-align: middle;
}

.title-header {
    display: inline-block;
    vertical-align: middle;
    font-weight: 800;
    font-size: 45px;
}
/* fine header */

/* main */
.main {
    background-color: #ededed;
    padding-top: 50px;
    padding-bottom: 20px;
}
/* CARD */
.card {
    background-color: rgb(255, 255, 255); 
    border-radius: 10px;     
}

/* header CARD */
.header-card {
    padding: 12px var(--horizontal-space);
    border-bottom: 2px solid #ededed;
}

.header-card a {
    display: inline-block;
    text-decoration: none;
    height: 35px;
    width: 110px;
    border-radius: 10px;
    text-align: center;
    line-height: 35px;
    font-size: 17px;
}

.btn-task {
    background-color: #55a4ed;
    color: white;
    border: 1px solid #55a4ed;
}

.btn-section {
    color: #d3c6c6;
    border: 1px solid #d3c6c6;
}


/* main CARD */

.main-card {
    padding: 50px var(--horizontal-space);
}

/* list */
.main-card ul {
    list-style: none;
    margin-bottom: 30px;
}

.symbolcheck {
    display: inline-block;
    height: var(--size-symbol);
    width: var(--size-symbol);
    border-radius: 50%;
    text-align: center;
    line-height: var(--size-symbol);
    margin-right: 12px;
}

.symbolcross {
    display: inline-block;
    height: var(--size-symbol);
    width: var(--size-symbol);
    border-radius: 50%;
    text-align: center;
    line-height: var(--size-symbol);
    margin-right: 12px;
}

.label {
    display: inline-block;
    color: white;
    height: 25px;
    width: 75px;
    border-radius: 10px;
    text-align: center;
    line-height: 25px;
    font-size: small;
    margin-left: 5px;
}

.list-main-card li {
    margin-top: 15px;
    margin-bottom: 25px;
}


